* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
}

/* HEADER */
.header {
    background: #0872cf;
    text-align: center;
    padding: 30px 10px;
}

.header h1 {
    color: white;
    margin-bottom: 15px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid white;
}

/* CONTENT */
.content {
    max-width: 700px;
    margin: 30px auto;
    padding: 0 15px;
}

.card {
    background: #e6f2ee;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
    color: #2f6f5f;
}

.card p {
    margin-bottom: 8px;
}

.quote {
    background: #dfe7e4;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
}

/* FOOTER */
.footer {
    background: #124fc9;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 40px;
}
